{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django Portafolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        {% include 'partials/start.html' %}
        {% include 'partials/about.html' %}
        {% include 'partials/formación.html' %}
        {% include 'partials/skills.html' %}
        {% include 'partials/contact.html' %}
        <footer>Designed & Build by Edgar Cusi</footer>
    </body>
</html>