{% load static %}

<section id="section-about" class="section-full section-about sobremi">
    
    <!-- SECCION SOBRE MI -->
        <div class="contenido-seccion">
            <h1>SOBRE MI</h1>
            <p><span>Hola, soy Edgar.</span> Actualmente soy estudiante de la carrera de Ingeniería de Sistemas y me apasiona el mundo de la 
                tecnología y las buenas practicas en el manejo de las herramientas de TI, mis intereses se orientan por las ramas de data analytics y espero convertirme en un Data Engineer a futuro    .</p>

            <div class="fila">
                <!-- datos personales -->
                <div class="col">
                    <h3>Datos Personales</h3>
                    <ul>
                        <li>
                            <strong>Teléfono</strong>
                            981347264
                        </li>
                        <li>
                            <strong>Email</strong>
                            edgarraulcusiosccorima@gmail.com
                        </li>
                        <li>
                            <strong>Dirección</strong>
                            Pachacamac - Lima
                        </li>
                        <li>
                            <strong>Cargo</strong>
                            <span>Practicante Planeamiento Comercial</span>
                        </li>
                    </ul>
                </div>

                <!-- intereses -->
                <div class="col">
                    <h3>Intereses</h3>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="fa-solid fa-gamepad"></i>
                            <span>JUEGOS</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-headphones"></i>
                            <span>MUSICA</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-plane"></i>
                            <span>VIAJAR</span>
                        </div>
                        <div class="interes">
                            <i class="fa-brands fa-apple"></i>
                            <span>CODE</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-person-hiking"></i>
                            <span>STREET WORKOUT</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-book"></i>
                            <span>LIBROS</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-car"></i>
                            <span>ANIME</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-camera"></i>
                            <span>UKELELE</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <button>
                Descargar CV <i class="fa-solid fa-download"></i>
                <span class="overlay"></span>
            </button>
        </div>
    </section>
    
