{% load static %}

<div id="sound"></div>
<menu class="main-menu">
    <div class="main-menu__top"><img class="ico" src="{% static 'images/perritoperfil.jpg' %}" alt="My image">
        <span>Edgar Cusi</span>
        <span>Systems Engineer</span>
    </div>
    <nav class="main-menu__nav">
            <a href="/">Inicio</a>
            <a href="#section-about">Sobre Mi</a>
            <a href="#section-skills">Skills</a>
            <a href="" style="color: #08FDD8;">Blog</a>
            <a href="#section-contact">Contáctame</a>
    </nav>
    <ul class="social">
        <li><a href="https://www.linkedin.com/in/edgar-raul-cusi-osccorima-3371a0200/" target='_blank'><img src="{% static 'images/linkedin.png' %}"></a></li>
        <li><a href="https://www.instagram.com/edgarcusi11/" target='_blank'><img src="{% static 'images/instagram.png' %}"></a></li>
        <li><a href="https://github.com/CusiTEC" target='_blank'><img src="{% static 'images/github.png' %}"></a></li>
    </ul>
</menu>