{% load static %}

<section id="section-skills" class="section-full section-skills">
    <div class="skills_content">
        <h1 class="subtitle">Skills</h1>

        <div class="skills__content-grid flex-column">

            <div class="cards__content flex-center">

                <!--html-->
                <div class="cards__item flex-column aos-init aos-animate" data-aos="zoom-in-down">
                    <div class="cards__item-content">
                        <img src="{% static 'images/html.svg' %}" alt="HTML5">
                        <div class="progressbar-language flex-center">
                            <span class="progressbar">
                                <span class="fill-progressbar" data-fillpb="html" style="width: 80%; background: rgb(96, 153, 102);"></span>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="cards__item flex-column " data-aos="zoom-in-down">
                    <div class="cards__item-content">
                        <img src="{% static 'images/css.svg' %}"  alt="CSS3">
                        <div class="progressbar-language flex-center">
                            <span class="progressbar">
                                <span class="fill-progressbar" data-fillpb="css" style="width: 60%; background: rgb(253, 211, 106);"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cards__item flex-column " data-aos="zoom-in-down">
                    <div class="cards__item-content">
                        <img src="{% static 'images/django.png' %}"  alt="CSS3">
                        <div class="progressbar-language flex-center">
                            <span class="progressbar">
                                <span class="fill-progressbar" data-fillpb="css" style="width: 60%; background: rgb(253, 211, 106);"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="cards__content flex-center">

                <div class="cards__item flex-column aos-init aos-animate" data-aos="zoom-in-up">
                    <div class="cards__item-content">
                        <img src="{% static 'images/python.svg' %}"  alt="Python">
                        <div class="progressbar-language flex-center">
                            <span class="progressbar">
                                <span class="fill-progressbar" data-fillpb="python" style="width: 50%; background: rgb(253, 211, 106) ;"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cards__item flex-column aos-init aos-animate" data-aos="zoom-in-up">
                    <div class="cards__item-content">
                        <img src="{% static 'images/R.png' %}"  alt="R">
                        <div class="progressbar-language flex-center">
                            <span class="progressbar">
                                <span class="fill-progressbar" data-fillpb="r" style="width: 40%; background: rgb(253, 211, 106) ;"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cards__item flex-column aos-init aos-animate" data-aos="zoom-in-up">
                    <div class="cards__item-content">
                        <img src="{% static 'images/oracle.png' %}"  alt="Oracle/SQL">
                        <div class="progressbar-language flex-center">
                            <span class="progressbar">
                                <span class="fill-progressbar" data-fillpb="oracle/sql" style="width: 80%; background: rgb(96, 153, 102) ;"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cards__item flex-column aos-init aos-animate" data-aos="zoom-in-up">
                    <div class="cards__item-content">
                        <img src="{% static 'images/excel.png' %}"  alt="Excel">
                        <div class="progressbar-language flex-center">
                            <span class="progressbar">
                                <span class="fill-progressbar" data-fillpb="excel" style="width: 95%; background: rgb(96, 153, 102) ;"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cards__item flex-column aos-init aos-animate" data-aos="zoom-in-up">
                    <div class="cards__item-content">
                        <img src="{% static 'images/powerBI.png' %}"  alt="powerBI">
                        <div class="progressbar-language flex-center">
                            <span class="progressbar">
                                <span class="fill-progressbar" data-fillpb="powerbi" style="width: 50%; background: rgb(253, 211, 106);"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>